<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmb.reporter.app.smartcitizenapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCitizen"
        android:usesCleartextTraffic="true">
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.LanguagePreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.ReportIssueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.IssueDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.ViewReportedIssueUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.ViewReportedIssueAdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cmb.reporter.app.smartcitizenapp.activity.VerifyNumberActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>